html, body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}
.wrapper{
  width: 1000px;
  margin: auto;
}
.ui-form{
  width: 350px;
  padding: 15px;
  margin: auto;
  margin-top: 25px;
  border-radius: 2px;
}
.js-login{
  margin-top: 30px;
}
.ui-error{
  width: 350px;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 2px;
  color: #911;
  background-color: #fcdede;
  border-color: #d2b2b2;
  text-align: center;
  margin-top: 25px;
  display: none;
}
.ui-message{
  width: 350px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 2px;
  text-align: center;
  margin-top: 25px;
  display: none;
  padding: 15px;

  &_normal{
    padding: 15px;
    display: block;
  }
  &_error{
    padding: 15px;
    color: #911;
    background-color: #fcdede;
    display: block;
  }
}
.ui-button{
  margin-top: 15px;
  width: 100%;
}
.welcome{
  width: 350px;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}
.welcome span{
  padding: 15px;
  display: inline-block;
  color:  #2bbbad;
}
.link-signup{
  width: 350px;
  padding: 15px;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}
a{
  cursor: pointer;
}
a:hover{
  color: #0274ab;
}
.input-field i{
  font-size: 13px;
  color: red;
}
.input-field input{
  margin-bottom: 0;
}
.input-field i{
  display: none;
}
.error i{
  display: inline;
}
.error input{
  border-bottom-color: red;
  border-width: 2px;
}
canvas{
  margin: auto;
}
span.redError {
  color: red;
}