.scoreboard {
  border: 1px solid;
  display: block;
  height: 100vh;
  min-width: 1000px;
  min-height: 620px;
  background: url("/img/scoreboard.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;

  &_wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
  }

  & .button {
    width: 300px;
    margin: auto;
  }
}

.table {
  width: 600px;
  display: block;
  margin: auto;
  margin: 25px 0 25px 0;
  color: #000;

  & th{
    width: 50%;
    padding: 20px;
    text-align: left;
    border-radius: 0;
  }
  & tr:nth-child(2n){
    background-color: rgba(155, 13, 6, 0.3);
  }
  & tr:nth-child(2n - 1){
    background-color: rgba(111, 87, 66, 0.3);
  }
  & th:nth-child(2n - 1){
    color: #777;
  }
  & th:nth-child(2n){
    font-weight: 500;
  }
}